thead > tr > td {
    position: relative;
}

thead > tr > td:hover {
    cursor: pointer;
}

img {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 0.6em;
}

table {
  border: solid black;
  border-spacing: 1px;
  border-collapse: collapse;
}
thead > tr {
  /* border: solid black; */
  background: #e7e3e3;
}
td {
  border-left: solid;
}