<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Peers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />

    <style>
        .disabled {
           pointer-events: none;
           cursor: default;
           color: black;
        }
        ul > li {
            display: inline-block;
        }
    </style>
</head>
<body>
<div class="container mt-4">
    <h2>Peers</h2>

    <nav aria-label="Pagination" th:if="${totalPages > 0}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="~{fragments/paging :: paging(1, '<<', 'First Page')}" th:classappend="${currentPage == 1} ? 'disabled'"></a>
            </li>
            <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="~{fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')}"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                <a th:replace="~{fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})}"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace="~{fragments/paging :: paging(${currentPage + 1},'Next', 'Next Page')}"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace="~{fragments/paging :: paging(${totalPages}, '>>', 'Last Page')}"></a>
            </li>
        </ul>
    </nav>

<!--    <div class="row mb-3">-->
<!--        <div class="col-md-3">-->
<!--            <label for="wave-filter">Wave:</label>-->
<!--            <select id="wave-filter" class="form-select">-->
<!--                <option value="">All</option>-->
<!--                <option th:each="wave : ${uniqueWaves}" th:value="${wave}" th:text="${wave}"></option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--            <label for="tribe-filter">Tribe:</label>-->
<!--            <select id="tribe-filter" class="form-select">-->
<!--                <option value="">All</option>-->
<!--                <option th:each="tribe : ${uniqueTribes}" th:value="${tribe.key}" th:text="${tribe.value}"></option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </div>-->
    <form th:action="${loggedIn} ? @{/logout} : @{/login}" method="post">
        <div th:if="${!loggedIn}"><label> login : <input type="text" name="username"/> </label></div>
        <div><input type="submit" th:value="${!loggedIn} ? 'sign in' : 'log out'"/></div>
    </form>
    <div th:if="${peers.size() > 0}">
        <table class="table table-hover table-responsive-xl">
            <thead class="thead-light">
            <tr>
                <th th:replace="~{fragments/sorting :: sorting('login','Login')}"></th>
                <th th:replace="~{fragments/sorting :: sorting('wave','Wave')}"></th>
                <th th:replace="~{fragments/sorting :: sorting('tribeId','Tribe')}"></th>
                <th th:replace="~{fragments/sorting :: sorting('expValue','Experience')}"></th>
                <th th:replace="~{fragments/sorting :: sorting('peerReviewPoints','PRP')}"></th>
                <th th:replace="~{fragments/sorting :: sorting('codeReviewPoints','CRP')}"></th>
                <th th:replace="~{fragments/sorting :: sorting('coins','Coins')}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="peer : ${peers}">
                <th scope="row">[[${peer.login}]]</th>
                <td>[[${peer.wave}]]</td>
                <td>[[${uniqueTribes.get(peer.tribeId)}]]</td>
                <td>[[${peer.expValue}]]</td>
                <td>[[${peer.peerReviewPoints}]]</td>
                <td>[[${peer.codeReviewPoints}]]</td>
                <td>[[${peer.coins}]]</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="" th:unless="${peers.size() > 0}">
        <span>No peers found!</span>
    </div>

    <nav aria-label="Pagination" th:if="${totalPages > 0}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="~{fragments/paging :: paging(1, '<<', 'First Page')}" th:classappend="${currentPage == 1} ? 'disabled'"></a>
            </li>
            <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="~{fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')}"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                <a th:replace="~{fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})}"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace="~{fragments/paging :: paging(${currentPage + 1},'Next', 'Next Page')}"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace="~{fragments/paging :: paging(${totalPages}, '>>', 'Last Page')}"></a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>